<div *ngIf="ghostStatus">
  <video autoplay muted loop id="background-video">
    <source src="{{ wallpaper }}" type="video/mp4" />
    Your browser does not support the video tag.
  </video>

  <div *ngIf="ghostStatus" style="position: absolute; bottom: 0%; left: 0%">
    <img
      src="../../../assets/ghost.gif"
      style="width: 100vw; height: 100vh; opacity: 75%"
      alt=""
    />

    <audio style="display: none" #audioPlayer controls autoplay>
      <source src="../../../assets/audio/ghost-screem.mp3" type="audio/mpeg" />
      Your browser does not support the audio element.
    </audio>
  </div>
</div>
