.sequence-ball {
  width: 100px;
  height: 100px;
  background-color: aliceblue;
  border-radius: 50%;
  overflow: hidden;
}

.image-container {
  width: 100%; /* Ensure the image container takes up the entire circular container */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  /* Add other desired styles for the image container here */
}

img {
  width: 100%; /* Ensure the image stretches to fill the container horizontally */
  height: 100%; /* Ensure the image stretches to fill the container vertically */
  object-fit: cover; /* Stretch and cover the entire container */

  /* Add other desired styles for the image here */
}

.arrow {
  color: aliceblue;
  width: 50px;
  height: 50px;
  font-size: 30px;
}
