<div>
  <!-- Section 1 -> intro -->
  <div *ngIf="section == 1" class="p-4">
    <video autoplay muted id="what-happened" (ended)="changeSection(2)">
      <source
        src="../../../assets/ghost-move-explain-video.mp4"
        type="video/mp4"
      />
      Your browser does not support the video tag.
    </video>
  </div>
  <!-- Section 2 -> ghost talk -->
  <div
    style="
      margin: 0;
      padding: 0;
      background-image: url('assets/images/intro_background.png');
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      height: 100vh;
    "
    *ngIf="section == 2"
    class="p-4"
  >
    <div
      style="
        font-size: 50px;
        color: aliceblue;
        font-weight: 300;
        font-family: halloweenMorning;
        line-height: 100px;
        padding-left: 20px;
        padding-right: 20px;
      "
      class="text-center"
    >
      Select Sequence
    </div>

    <div class="row">
      <div class="col-lg-4">
        <mat-card class="example-card" (click)="setSequence(3)">
          <img
            mat-card-image
            src="../../../assets/sequence-images/3.png"
            alt="Photo of a Shiba Inu"
          />
        </mat-card>

        <div
          style="
            font-size: 20px;
            color: aliceblue;
            font-weight: 300;
            font-family: halloweenMorning;
          "
          class="text-center mt-2"
        >
          Post-Office
        </div>
      </div>
      <div class="col-lg-4">
        <mat-card class="example-card" (click)="setSequence(2)">
          <img
            mat-card-image
            src="../../../assets/sequence-images/2.png"
            alt="Photo of a Shiba Inu"
          />
        </mat-card>

        <div
          style="
            font-size: 20px;
            color: aliceblue;
            font-weight: 300;
            font-family: halloweenMorning;
          "
          class="text-center mt-2"
        >
          Police Station
        </div>
      </div>
      <div class="col-lg-4">
        <mat-card class="example-card" (click)="setSequence(1)">
          <img
            mat-card-image
            src="../../../assets/sequence-images/1.png"
            alt="Photo of a Shiba Inu"
          />
        </mat-card>

        <div
          style="
            font-size: 20px;
            color: aliceblue;
            font-weight: 300;
            font-family: halloweenMorning;
          "
          class="text-center mt-2"
        >
          Hospital
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-lg-12 d-flex justify-content-around">
        <div class="sequence-ball">
          <div *ngIf="selectedSequence[0]" class="image-container">
            <img
              src="../../../assets/sequence-images/{{
                selectedSequence[0]
              }}.png"
              alt=""
            />
          </div>
        </div>
        <mat-icon class="my-auto arrow">arrow_right_alt</mat-icon>
        <div class="sequence-ball">
          <div *ngIf="selectedSequence[1]" class="image-container">
            <img
              src="../../../assets/sequence-images/{{
                selectedSequence[1]
              }}.png"
              alt=""
            />
          </div>
        </div>
        <mat-icon class="my-auto arrow">arrow_right_alt</mat-icon>

        <div class="sequence-ball">
          <div *ngIf="selectedSequence[2]" class="image-container">
            <img
              src="../../../assets/sequence-images/{{
                selectedSequence[2]
              }}.png"
              alt=""
            />
          </div>
        </div>
        <mat-icon class="my-auto arrow">arrow_right_alt</mat-icon>

        <div class="sequence-ball">
          <div *ngIf="selectedSequence[3]" class="image-container">
            <img
              src="../../../assets/sequence-images/{{
                selectedSequence[3]
              }}.png"
              alt=""
            />
          </div>
        </div>
        <mat-icon class="my-auto arrow">arrow_right_alt</mat-icon>

        <div class="sequence-ball">
          <div *ngIf="selectedSequence[4]" class="image-container">
            <img
              src="../../../assets/sequence-images/{{
                selectedSequence[4]
              }}.png"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-lg-12 d-flex justify-content-center">
        <button
          class="mx-2"
          mat-raised-button
          color="primary"
          (click)="clearSelection()"
        >
          <div class="button-text">Clear</div>
        </button>
        <button
          class="mx-2"
          mat-raised-button
          color="primary"
          (click)="changeSection(3)"
        >
          <div class="button-text">Submit</div>
        </button>
      </div>
    </div>
  </div>

  <div
    *ngIf="section == 3"
    class="p-4"
  >
    <div *ngIf="isAnswerCorrect">
      <video autoplay muted id="background-video" (ended)="changeSection(4)">
        <source src="../../../assets/correct-answer.mp4" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
    </div>
    <div *ngIf="!isAnswerCorrect">
      <video autoplay muted id="background-video" (ended)="changeSection(4)">
        <source src="../../../assets/wrong-answer.mp4" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
    </div>
  </div>

  <div *ngIf="section == 4">
    <video autoplay muted loop id="background-video">
      <source src="../../../assets/find-device.mp4" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
  </div>
</div>
