<!-- Section 1 -> intro -->
<div *ngIf="section == 1">
  intro

  <button (click)="changeSection(2)">Next</button>
</div>
<!-- Section 2 -> ghost talk -->
<div *ngIf="section == 2">
  ghost talk

  <button (click)="changeSection(3)">Next</button>
</div>
<!-- Section 3 -> explain video -->

<div *ngIf="section == 3">
  Explain video

  <button (click)="changeSection(4)">Next</button>
</div>

<!-- Section 4 -> Select Sequence -->
<div *ngIf="section == 4">
  sequence enter screen

  <div class="row">
    <div class="col-lg-4">
      <mat-card (click)="setSequence(1)">
        <mat-card-content>Location 1</mat-card-content>
      </mat-card>
    </div>
    <div class="col-lg-4">
      <mat-card (click)="setSequence(2)">
        <mat-card-content>Location 2</mat-card-content>
      </mat-card>
    </div>
    <div class="col-lg-4">
      <mat-card (click)="setSequence(3)">
        <mat-card-content>Location 3</mat-card-content>
      </mat-card>
    </div>
  </div>

  <div *ngFor="let seq of selectedSequence">
    {{ seq }}
  </div>
</div>

<div *ngIf="section == 5">Decision</div>
