/* You can add global styles to this file, and also import other style files */
@import "bootstrap/scss/bootstrap";

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif, halloweenMorning;
    background-color: black;
}

@font-face {
    font-family: halloweenMorning;
    src: url(assets/fonts/halloweenMorning.ttf) format("opentype");
}

.button-text{
    font-size: 30px;
    color: aliceblue;
    font-weight: 300;
    font-family: halloweenMorning;
    line-height: 100px;
    padding-left: 20px;
    padding-right: 20px;
}

.text {
    
}